.main__cards {
  padding-bottom: 20px;
}


.main__card {
  cursor: pointer;
  transition: 300ms;

  &-image {
    border-radius: 10px;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 300ms;
  }

  &-title {
    max-width: 210px;
  }

}