.main {

  &__title {
    padding-top: 30px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
  }

  &__cards-container {
    padding-top: 50px;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }

}